.admin-container {
    padding: 90px 0 0 30px;
    background: #fff;
}

.admin-tour-list-container, {
    column-count: 3;
}

.admin-song-list-container {
    column-count: 3;
}

.admin-tour-list,
.admin-song-list,
.admin-news {
    list-style-type: none;
}

.admin-delete {
    float: left;
    margin-right: 10px;
}